node_modules
.next
.data
*.db
.env
.env.local
.env*.local
dist
coverage
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.zip
.turbo


COMP101_Project1/Report/COMP101_Project1_Report.pdf

